li:hover {
  color: cornflowerblue;
  font-weight: bold;

}

.Wrapper {
  margin-bottom: 16px;
  margin-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid;
  border-color: gainsboro;
}

.FullWidthForm {
  width: 100%;
}

.EditGrid {
  display: flex;
  justify-content: space-between;
}